body{
background:#f4f6f9;
}

.sidebar{
height:100vh;
overflow-y:auto;
background:white;
border-right:1px solid #ddd;
}

.problem-card{
cursor:pointer;
transition:0.3s;
}

.problem-card:hover{
transform:scale(1.03);
box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

#output{
background:black;
color:#00ff7f;
padding:15px;
min-height:120px;
font-family:monospace;
border-radius:5px;
margin-top:10px;
white-space:pre-wrap;
}